@debug "Falta mover cosas a styleutils";

.m-b-1 {
   margin-bottom: 15px;
}
.m-l-a {
   margin-left: auto;
}
.m-r-a {
   margin-left: auto;
}
.m-lr-a {
   margin-left: auto;
   margin-right: auto;
}



* {
   outline: 1px solid #ddd;
}

body,html {
   width: 100%;
   height: 100%;
}

li {
   list-style: none;
}
